<template>
  <div class="body">
    <b-container>
        <b-row>
            <b-col class="col" md="6" offset-md="3">
              <h1>To-Do</h1>
                <b-form-input @keyup.enter.native="addTodo" v-model="title"></b-form-input>
                <hr>
                <div v-for="(todo, index) in todos.slice(0, totalTodos)" :key="index">
                  <todo-list @delete="deleteTodo(index, todo.id)"
                             @check="check(todo.id, todo.completed)"
                             @doneEdit="doneEdit(todo.id, todo.title)"
                             @editTodo="editTodo"
                             :index="index"
                             :todoData="todo"
                             :editable="editable"
                             >
                           </todo-list>
                </div>
                <hr>
                  <b-button v-show="showless" @click="showAll" variant="success">Show All Todos</b-button>
                  <b-button v-show="!showless" @click="showLess" variant="success">Show Less Todos</b-button>
            </b-col>
        </b-row>

    </b-container>
  </div>
</template>



<script>
import TodoList from '../components/todolist.vue'
import axios from 'axios'

export default {
  components: {
    TodoList
  },
  data () {
    return {
      todos: [],
      totalTodos: 3,
      title: null,
      editable: false,
      showless: true,
      todoslen: null

    }
  },
  computed: {

  },

  created () {
    fetch('https://jsonplaceholder.typicode.com/todos')
    .then(response => response.json())
    .then(json => {
      this.todos = json.reverse()
      this.todoslen = json.length

    })
  },

  methods: {
    deleteTodo(index, id){
      axios.delete('https://jsonplaceholder.typicode.com/todos/' + id)
      .then(response => this.todos.splice(index, 1))
      .catch((error) => {
        console.log(error)
        this.todos.splice(index, 1)
      })
      this.todoslen -= 1
    },

    check(id, status){
      axios.patch('https://jsonplaceholder.typicode.com/todos/' + id, {
      completed: status
      }).then(response => console.log(response))
      .catch((error) => {
        console.log(error);
      })
    },

    addTodo() {
      let newTodo = {
        userId: 1,
        id: this.todos.length + 1,
        title: this.title,
        completed: false
      }
      axios.post('https://jsonplaceholder.typicode.com/todos', newTodo)
      .then(response => this.todos.unshift(newTodo))
      .catch((error) => {
        console.log(error)
        this.todos.unshift(newTodo)
      })
      this.title= null
      this.todoslen += 1
    },

    doneEdit(id, title) {
      axios.patch('https://jsonplaceholder.typicode.com/todos/' + id, {
      title: title
      }).then(response => console.log(response))
      .catch((error) => {
        console.log(error);
      })
      this.editable = false;
    },

    editTodo() {
      this.editable = true;
    },

    showAll() {
      this.showless = false
      this.totalTodos = this.todoslen
    },

    showLess() {
      this.showless = true;
      this.totalTodos = 3
    }


  },


}
</script>

<style>

  .container {
    margin: 5%;
    font-family: "Lucida Console", Monaco, monospace;
  }

  .col {
    background: #BDC3C7;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
  }

  .right {

    float: right;
  }

</style>
