<template>
    <b-list-group>
      <b-list-group-item>
        <h5>{{ index+1 }}
        </h5>
        <span v-if="todoData.completed">
          <p><strike>{{ todoData.title }}
          </strike>
        </p>
        </span>
        <span v-else>
          <b-form-input v-if="editable"
                        @keyup.enter.native="$emit('doneEdit')"
                        @blur.native="$emit('doneEdit')"
                        @keyup.esc.native="$emit('cancelEdit')"
                        v-model="todoData.title">
          </b-form-input>
          <p @dblclick="$emit('editTodo')" v-else>
            {{ todoData.title }}
          </p>

      </span>
        <span class="right">
            <b-form-checkbox v-model="todoData.completed"
                           size="sm"
                           style="margin-right:0;"
                           @change="$emit('check')"
                           >
            Done
            </b-form-checkbox>

        <b-button @click="$emit('delete')" size="sm">Delete</b-button></span>
      </b-list-group-item>
    </b-list-group>
</template>

<script>
export default {
  props: ['todoData', 'index', 'editable'],
}
</script>

<style>

</style>
